<tucha-typeahead label="Animal" editable="editable" model="details" name="animal"
                 url="dropdown/animal"></tucha-typeahead>
<tucha-typeahead label="Pessoa" editable="editable" model="details" name="person"
                 url="dropdown/person"></tucha-typeahead>
<tucha-date label="Data de Inicio" editable="editable" model="details" name="start_date"></tucha-date>
<tucha-date label="Data de Fim" editable="editable" model="details" name="end_date"></tucha-date>
<tucha-details label="Detalhes" editable="editable" model="details" name="details"></tucha-details>
