<tucha-typeahead label="Medicamento" editable="editable" model="details" name="medicament"
                 url="dropdown/medicament"></tucha-typeahead>
<tucha-typeahead label="Usado em" editable="editable" model="details" name="animal"
                 url="dropdown/animal"></tucha-typeahead>
<tucha-typeahead label="Administrador" editable="editable" model="details" name="administrator"
                 url="dropdown/person"></tucha-typeahead>
<tucha-typeahead label="Receita médica" editable="editable" model="details" name="prescription"
                 url="dropdown/medicamentPrescription"></tucha-typeahead>
<tucha-date label="Data" editable="editable" model="details" name="date"></tucha-date>
<tucha-text label="Quantidade" editable="editable" model="details" name="quantity"></tucha-text>
<tucha-text label="Unidade da Quantidade" editable="editable" model="details" name="quantity_unit"></tucha-text>
