<tucha-text label="Nome" editable="editable" model="details" name="name"></tucha-text>
<tucha-details label="Endereço" editable="editable" model="details" name="address"></tucha-details>
<tucha-text label="Cidade" editable="editable" model="details" name="city"></tucha-text>
<tucha-text label="Telefone" editable="editable" model="details" name="phone"></tucha-text>
<tucha-text label="Email" editable="editable" model="details" name="email"></tucha-text>
<tucha-boolean label="Nova adopção permitida" editable="editable" model="details"
               name="new_adoption_allowed"></tucha-boolean>
<tucha-details label="Detalhes" editable="editable" model="details" name="details"></tucha-details>
<tucha-boolean label="Pode adoptar" editable="editable" model="details" name="can_host"></tucha-boolean>
<tucha-text label="Capacidade de acolhimento" editable="editable" model="details" name="host_capacity"></tucha-text>
<tucha-text label="Que Tipo de Animais pode Acolher" editable="editable" model="details"
            name="host_species"></tucha-text>
<tucha-details label="Detalhes" editable="editable" model="details" name="host_details"></tucha-details>
