<tucha-typeahead label="Pessoa" editable="editable" model="details" name="person"
                 url="dropdown/person"></tucha-typeahead>
<tucha-details label="Dsiponibilidade" editable="editable" model="details" name="disponibility"></tucha-details>
<tucha-details label="Actividades" editable="editable" model="details" name="activities"></tucha-details>
<tucha-details label="Competências" editable="editable" model="details" name="expertises"></tucha-details>
<tucha-details label="Contactos" editable="editable" model="details" name="connections"></tucha-details>
