<table id="table" data-toggle="table" data-pagination="true" data-page-size="10" data-show-toggle="true"
    data-show-columns="true" data-search="true" data-sort-name="name" data-sort-order="asc">
    <thead>
        <tr>
            <th data-formatter="cellFormatters.thumbnailHtml"></th>
            <th data-field="name" data-sortable="true">Nome</th>
            <th data-field="species" data-sortable="true" data-visible="false">Espécie</th>
            <th data-field="gender" data-formatter="cellFormatters.genderHtml" data-sortable="true">Sexo</th>
            <th data-field="breed" data-sortable="true">Raça</th>
            <th data-field="extimated_age" data-sortable="true">Idade</th>
            <th data-field="size" data-sortable="true">Tamanho</th>
            <th data-field="color" data-sortable="true" data-visible="false">Cor</th>
            <th data-field="physical_state" data-sortable="true" data-visible="false">Estado Físico</th>
            <th data-field="emotional_state" data-sortable="true" data-visible="false">Estado Emocional</th>
            <th data-field="details" data-sortable="true" data-visible="false" data-visible="false">Detalhes</th>
            <th data-field="is_adoptable" data-sortable="true" data-formatter="cellFormatters.truthyHtml">Adoptável</th>
            <th data-field="is_adoptable_reason" data-sortable="true" data-visible="false">Motivo da Não Adoptabilidade</th>
            <th data-field="received_by" data-sortable="true" data-visible="false">Recebido por</th>
            <th data-field="received_from" data-sortable="true" data-visible="false">Recebido de</th>
            <th data-field="received_date" data-sortable="true" data-visible="false">Data Recebimento</th>
            <th data-field="received_reason" data-sortable="true" data-visible="false">Motivo Recebimento</th>
            <th data-field="received_details" data-sortable="true" data-visible="false">Detalhes Recebimento</th>
            <th data-field="chip_code" data-sortable="true" data-visible="false">Código do Chip</th>
            <th data-field="is_sterilizated" data-sortable="true" data-formatter="cellFormatters.truthyHtml">Esterilizado</th>
            <th data-field="sterilization_date" data-sortable="true" data-visible="false">Data da Esterilização</th>
            <th data-field="sterilization_by" data-sortable="true" data-visible="false">Esterilizado por</th>
            <th data-field="sterilization_details" data-sortable="true" data-visible="false">Data da Esterilização</th>
            <th data-field="is_dead" data-sortable="true" data-visible="false" data-formatter="cellFormatters.truthyHtml">Falecido</th>
            <th data-field="death_date" data-sortable="true" data-visible="false">Data do Falecimento</th>
            <th data-field="death_reason" data-sortable="true" data-visible="false">Motivo do Falecimento</th>
            <th data-field="id" data-width="90" data-formatter="cellFormatters.editButtonHtml" data-switchable="false"></th>
        </tr>
    </thead>
</table>