@font-face {
    font-family: texgyreadventor;
    src: local(texgyreadventor), url('fonts/texgyreadventor-bold.otf') format('opentype');
}

html {
    overflow: hidden;
}

body {
    //background-color: black;
    margin: 0;
    font-family: "texgyreadventor", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;

    width: 960px; // old website limitation

    //background-color: #19191F;
    //background-image: linear-gradient(#5FAAD5, #ffffff);
}

.slider {
    width: 670px;
    height: 450px;
    display: inline-block;

    .slick-prev,
    .slick-next {
        z-index: 100;
        width: 60px;
        height: 60px;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 60px;
        opacity: 0;
    }

    img {
        //width: 100%;
    }

    .slick-list .slick-slide img {
        height: 450px;
        margin: auto;
        display: block;
    }
}

.slider:hover .slick-prev:before,
.slider:hover .slick-next:before {
    opacity: 0.75;
}

.nav-slider {
    width: 100%;
    cursor: pointer;

    .slick-slide {
        width: 30%;

        img {
            width: 90%;
        }
    }
}

.slider-text {
    color: #008080;
    width: 30%;
    float: right;
    text-align: center;

    .adopt-text {
        margin-top: 70px;
        margin-bottom: 0px;
        font-size: 40px;
    }

    #dog-name {
        height: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .contacts {
        border: solid;
        margin-top: 78px;
        margin-left: 10px;
        margin-right: 10px;

        p {
            a {
                color: #008080;
                font-size: 20px;
            }

            &.phone-number {
                a {
                    text-decoration: none;
                    font-size: 40px;
                }
            }

            &.email-address {
                //margin-top: 10%;
                a {
                    text-decoration: none;
                    font-size: 16px;
                }
            }
        }
    }
}

.slick-next {
    right: 0px;
}

.slick-prev {
    left: 0px;
}

