<form class="login-form">
    <div class="row form-group">
        <label class="col-sm-4 control-label text-right">Nova Password</label>

        <div class="col-sm-8">
            <input ng-model="password1" class="form-control" type="password" name="password1"/>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-sm-4 control-label text-right">Repetir</label>

        <div class="col-sm-8">
            <input ng-model="password2" class="form-control" type="password" name="password2"/>
        </div>
    </div>
    <div class="row form-group">
        <button class="btn btn-primary col-sm-offset-9" ng-click="submit()">Alterar</button>
    </div>
</form>
