<form action="/r/login" method="post" class="login-form">
    <div class="row form-group">
        <label class="col-sm-4 control-label text-right">Username</label>

        <div class="col-sm-8">
            <input class="form-control" type="text" name="username" autofocus="autofocus"/>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-sm-4 control-label text-right">Password</label>

        <div class="col-sm-8">
            <input class="form-control" type="password" name="password"/>
        </div>
    </div>
    <div class="row form-group">
        <input type="submit" value="Log In" class="btn btn-primary col-sm-offset-9"/>
    </div>
</form>
