<a class="btn btn-primary pull-right add-button" href="#animal/new" role="button">
    <i class="glyphicon glyphicon-plus"></i> Adicionar
</a>

<table id="table" data-toggle="table" data-pagination="true" data-page-size="10" data-show-toggle="true"
       data-show-columns="true" data-search="true" data-sort-name="id" data-sort-order="desc" data-buttons-align="left"
       data-search-align="left">
    <thead>
    <tr>
        <th data-field="code" data-sortable="true" data-width="50">Código</th>
        <th data-field="id" data-formatter="cellFormatters.thumbnailHtml" data-width="50">Foto</th>
        <th data-field="name" data-sortable="true" data-width="150">Nome</th>
        <th data-field="species" data-sortable="true" data-visible="false">Espécie</th>
        <th data-field="gender" data-formatter="cellFormatters.genderHtml" data-sortable="true" data-width="50">Sexo
        </th>
        <th data-field="breed" data-sortable="true" data-visible="false">Raça</th>
        <th data-field="date_of_birth" data-sortable="true" data-width="50" data-formatter="cellFormatters.age">Idade
        </th>
        <th data-field="size" data-sortable="true" data-visible="false">Tamanho</th>
        <th data-field="color" data-sortable="true" data-visible="false">Cor</th>
        <th data-field="is_adoptable" data-sortable="true" data-formatter="cellFormatters.truthyHtml" data-width="100">
            Adoptável
        </th>
        <th data-field="is_adoptable_reason" data-sortable="true" data-visible="false">Motivo da Não Adoptabilidade</th>
        <th data-field="received_by" data-sortable="true" data-visible="false">Recebido por</th>
        <th data-field="received_from" data-sortable="true" data-visible="false">Recebido de</th>
        <th data-field="received_date" data-sortable="true" data-visible="false">Data Recebimento</th>
        <th data-field="received_details" data-sortable="true" data-visible="false">História Inicial</th>
        <th data-field="chip_code" data-sortable="true" data-visible="false">Código do Chip</th>
        <th data-field="is_sterilizated" data-sortable="true" data-formatter="cellFormatters.truthyHtml"
            data-width="100">Esterilizado
        </th>
        <th data-field="sterilization_date" data-sortable="true" data-visible="false">Data da Esterilização</th>
        <th data-field="sterilization_by" data-sortable="true" data-visible="false">Esterilizado por</th>
        <th data-field="sterilization_details" data-sortable="true" data-visible="false">Detalhes da Esterilização</th>
        <th data-field="current_situation" data-sortable="true" data-visible="true"
            data-formatter="cellFormatters.currentSituationHtml">
            Situação Actual
        </th>
        <th data-field="#missing_details" data-sortable="true" data-visible="false">Detalhes do Desaparecimento</th>
        <th data-field="death_date" data-sortable="true" data-visible="false">Data do Falecimento</th>
        <th data-field="death_reason" data-sortable="true" data-visible="false">Motivo do Falecimento</th>
        <th data-field="details" data-sortable="true" data-visible="false">Detalhes</th>
        <th data-field="id" data-width="90" data-formatter="cellFormatters.editButtonHtml" data-switchable="false"></th>
    </tr>
    </thead>
</table>
